* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Catamaran', sans-serif;
}

#canvas1 {
  width: 100%;
  height: 100vh;
  background: #232323;
}

nav {
  color: #ececec;
  display: inline;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.nav-right {
  display: inline-block;
  margin-top: 1.45em;
}

.nav-list {
  text-transform: uppercase;
  display: inline-block;
  list-style: none;
}

.nav-list li{
  font-weight: 300;
  display: inline;
  margin-left: 5em;
  font-size: 1.25em;
}

.nav-list li:first-child{
  margin-left: 0;
}

.nav-list li a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-list li a::before,
.nav-list li a::after{
  content: '/';
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 0.22s;
}

.nav-list li a::before {
  top: 0;
  left: 0;
  transform: translate(-300%, 100%);
}


.nav-list li a::after{
  bottom: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.nav-list li a:hover:before {
  transform: translate(-150%, 0);
  opacity: 1;
}

.nav-list li a:hover:after {
  transform: translate(-250%, 0);
  opacity: 1;
}

.nav-sprites {
  list-style: none;
}

.nav-sprites li {
  display: inline;
  margin-left: 2.5em;
}

.sprite {
  width: 40px;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main-heading{
  z-index: 999;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-main {
  color: #ececec;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  letter-spacing: 3px;
  cursor: default;
}

.nav-center {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.sticky-nav{
  background: #3e3e3e;
  color: #e3e3e3;
  padding: 0.6em 0;
  border-top: 2px #1b5408 solid;
}

ul.sticky-nav-list {
  list-style: none;
  text-transform: uppercase;
}

ul.sticky-nav-list li{
  display: inline;
  text-decoration: none;
  margin-right: 2.4em;
}

ul.sticky-nav-list li a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.sticky-nav-list li a::before,
.sticky-nav-list li a::after {
  content: '/';
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 0.22s;
}

.sticky-nav-list li a::before{
  top: 0;
  left: 0;
  transform: translate(-300%, 100%);
}

.sticky-nav-list li a::after{
  bottom: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.sticky-nav-list li a:hover:before {
  transform: translate(-150%, 0);
  opacity: 1;
}

.sticky-nav-list li a:hover:after {
  transform: translate(-250%, 0);
  opacity: 1;
}

h1{
  color: #ececec;
}

section.home {
  height: 100vh;
}

.section-heading {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 2em 0 1em;
}

.header-decoration{
  margin-right: 0.3em;
}

.about-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.about-blurb{
  text-align: justify;
  padding: 0 1em 0 0;
  width: 50%;
}

.tech-images {
  text-align: center;
  margin: 3em 0 2em;
}

.row-work {
    display: flex;
    justify-content: center;
    max-height: 337px;
}

.image-group {
  position: relative;
  display: inline-block;
}

.work-img {
  width: 100%;
  height: auto;
  border: 1px solid #232323;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}


.image-group:hover .overlay{
  width: 100%;
}

.text {
  color: #111;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.contact {
  background: #232323;
}

.dark {
  color: #e3e3e3;
}

.contact-form {
    width: 30%;
    margin: 0 auto;
}

label.dark {
    display: block;
}

input {
  width: 100%;
}

